<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página Principal</title>
    
    <!-- Estilos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/paxina.inicio.css">
    
    <!-- Scripts -->
    <script defer src="/javascript/inicio.js"></script>
</head>
<body>
    <aside>
        <div class="container-aside">
            <img src="/imaxenes/circle.svg" class="aside-button">
            <img src="/imaxenes/home.svg" class="aside-button">
            <img src="/imaxenes/profile.svg" class="aside-button">
            <img src="/imaxenes/list.svg" class="aside-button">
            <img src="/imaxenes/tag.svg" class="aside-button">
        </div>
    </aside>
    <main>
        <header>
            <img src="/imaxenes/notifications.png" class="notificaciones-img">
            <div class="input-container">
                <div class="input-img-div">
                    <img src="/imaxenes/Shape.svg" class="input-img">
                </div>
                <div>
                    <input class="input-text" placeholder="Search">
                </div>
            </div>
        </header>
        <section class="section-paginas">
            <h1 class="nombres-paginas">Home</h1>
            <section class="main-section">
                <article>
                    <button class="boton-invoices"><img src="/imaxenes/invoices1.svg" alt="Invoices"></button>
                    <button class="boton-customers"><img src="/imaxenes/customers1.svg" alt="Customer"></button>
                    <button class="boton-products"><img src="/imaxenes/productos1.svg" alt="Products"></button>
                </article>
                <article>
                    <button class="boton-new-product"><img src="/imaxenes/check1.svg" alt="New Product"></button>
                    <button class="boton-graphs"><img src="/imaxenes/graphs1.svg" alt="Graphs"></button>
                    <button class="boton-settings"><img src="/imaxenes/settings1.svg" alt="Settings"></button>
                </article>                
            </section>
        </section>
    </main>
</body>
</html>
