<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Configuración del Cliente</title>
    
    <!-- Estilos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/paxina.settings.css">

    <!-- Scripts -->
    <script defer src="/paxina.settings.js"></script>
</head>
<body>
    <aside>
        <div class="container-aside">
            <button class="botones-aside"><img class="imaxenes-aside" src="/imaxenes/circle.svg"></button>
            <button class="botones-aside"><img class="imaxenes-aside" src="/imaxenes/home.svg"></button>
            <button class="botones-aside"><img class="imaxenes-aside" src="/imaxenes/profile.svg"></button>
            <button class="botones-aside"><img class="imaxenes-aside" src="/imaxenes/list.svg"></button>
            <button class="botones-aside"><img class="imaxenes-aside" src="/imaxenes/tag.svg"></button>
        </div>
    </aside>
    <main>
        <header>
            <div class="div-header">
                <h1>Settings Customer</h1>
                <img src="/imaxenes/notifications.png" class="img-header">
            </div>
        </header>
        <section class="sections">
            <section class="section-izda">
                <h1 class="titulo-div-superior-izda">Profile</h1>
                <div class="div-superior">
                    <div class="imagen-contenedor-superior-izda">
                        <img class="imagen-div-superior-izda" src="/imaxenes/group.svg">
                    </div>
                    <div class="botones-div-superior-izda">
                        <button class="boton-change">Change picture</button>
                        <button class="boton-delete">Delete picture</button>
                    </div>
                </div>
                <div class="div-inferior">
                    <div class="contenedor-superior">
                        <label class="label-superior-nombre">Nombre<input class="input-superior-nombre" type="text" placeholder="Escribe tu nombre..."></label>
                        <label class="label-superior-apellido">Apellido<input class="input-superior-apellido" type="text" placeholder="Escribe tu apellido..."></label>
                    </div>
                    <div class="contenedor-inferior">
                        <label>Empresa</label><input type="text" placeholder="Escribe tu empresa...">
                        <label>Mail</label><input type="text" placeholder="Escribe tu email...">
                        <label>Profesión</label><input type="text" placeholder="Escribe tu profesión...">
                        <label>Rol</label><input type="text" placeholder="Escribe tu rol...">
                    </div>
                </div>
            </section>
            <section class="section-dcha">
                <div class="section-superior-dcha">
                    <img src="imaxenes/Illustration.svg">
                </div>
                <div class="section-inferior-izda">
                    <button class="boton-send">Send</button>
                </div>
            </section>
        </section>
    </main>
</body>
