* {
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 480px) {
    /* estilos para móviles */
  
    body {
      display: flex;
      flex-direction: column;
      justify-content: center; /* Centra verticalmente */
      align-items: center; /* Centra horizontalmente */
      background-color: rgb(164, 229, 255);
    }
  
    aside {
      display: flex;
      justify-content: center;
      align-items: center; /* Centra el contenido del aside */
      order: 1; /* Envía el aside al final del flujo, como un footer */
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 1000;
      background-color: #4b8ce7;
      padding: 5px;
      box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    }
  
    .container-aside {
      display: flex;
      gap: 50px;
      justify-content: center;
    }
    .botones-aside {
      background-color: #4b8ce7;
      border-color: transparent;
    }
    .botones-aside:hover {
      border: 1px solid rgb(15, 15, 163);
      border-radius: 10px;
      background-color: rgb(15, 15, 163);
      cursor: pointer;
    }
    h1 {
      margin-bottom: 10px;
    }
    .div-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
    .imagen-div-superior-izda {
      margin-bottom: 10px;
    }
    .botones-div-superior-izda {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      margin-bottom: 10px;
      gap: 10px;
    }
    .boton-change,
    .boton-delete {
      width: 150px;
      border: 1px solid rgb(15, 15, 163);
      border-radius: 5px;
      background-color: #4b8ce7;
      color: white;
      padding: 10px;
      cursor: pointer;
    }
    .boton-change:hover,
    .boton-delete:hover {
      background-color: rgb(15, 15, 163);
      color: white;
    }
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
    }
  
    .sections {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
    .contenedor-superior,
    .contenedor-inferior {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
      gap: 5px;
    }
    .label-superior-nombre,
    .label-superior-apellido {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
  
    .section-izda,
    .div-superior {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
    .section-dcha {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
  
    .boton-send {
      margin-top: 20px;
      background-color: #4b8ce7;
      color: white;
      width: 200px;
      height: 60px;
      border: none;
      border-radius: 5px;
      align-items: center;
      font-weight: bold;
      font-size: large;
      display: flex;
      justify-content: center;
      cursor: pointer;
      border: 1px solid rgb(15, 15, 163);
    }
    .boton-send:hover {
      background-color: rgb(15, 15, 163);
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    /* estilos para tablets */
  
    body {
      display: flex;
    }
    aside {
      background-color: #4b8ce7;
  
      
    }
    .container-aside{
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 10px;
    }
    .botones-aside {
      cursor: pointer; 
      transition: all 0.3s ease; 
      background-color: #4b8ce7;
      display: flex;
      border-radius: 20px;
      border-color: transparent;
    }
    .botones-aside:hover {
      background-color: rgb(15, 15, 163);
      color: white;
    }
    .imagenes-aside {
      height: 50px;
      width: 50px;
    }
  
    header {
      height: 8%;
      background-color: #ffffff;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      padding: 5px;
    }
    .div-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;
      .img-header {
        max-width: 100px;
      }
    }
  
    main {
      width: 95%;
      height: 100vh;
      background-color: bisque;
      display: flex;
      flex-direction: column;
  
      .sections {
        display: flex;
        justify-content: center;
        
        
      }
      .section-izda {
        
        background-color: white;
        padding: 20px;
        width: 50%;
        height: 100%;
        margin-top: 5%;
        margin-left: 15px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
      }
      .titulo-div-superior-izda {
        font-size: 20px;
        margin-bottom: 20px;
      }
  
      .div-superior {
        display: flex;
        gap: 50px;
        margin-bottom: 20px;
  
        .imagen-div-superior-izda {
          margin-top: 20px;
          
          
        }
        .botones-div-superior-izda {
          display: flex;
          flex-direction: column;
          gap: 30px;
          /* Cambia el cursor al pasar por encima */
          transition: all 0.3s ease; /* Transición suave para hover y active */
        }
        .boton-change {
          margin-top: 30px;
          width: 150px;
          border: 1px solid rgb(15, 15, 163);
          border-radius: 5px;
          background-color: #4b8ce7;
          color: white;
          padding: 10px;
          cursor: pointer;
        }
        .boton-change:hover {
          background-color: rgb(15, 15, 163);
          color: white;
        }
        .boton-delete {
          width: 150px;
          border: 1px solid #8b8989;
          border-radius: 5px;
          padding: 10px;
          cursor: pointer;
        }
        .boton-delete:hover {
          background-color: rgb(15, 15, 163);
          color: white;
        }
      }
    }
    .contenedor-superior {
      display: flex;
      flex-direction: column;
      
  
      .label-superior-nombre {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .label-superior-apellido {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
    .contenedor-inferior {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      gap: 5px;
      margin-bottom: 5px;
    }
    .section-dcha {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      margin-top: 4%;
      gap: 80px;
      .section-superior-dcha {
        background-color: white;
        padding: 3px;
        display: flex;
        justify-content: center;
      }
  
        img{
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 80%;
          height: auto;
        }
      
      .section-inferior-izda {
        .boton-send {
          background-color: #4b8ce7;
          color: white;
          width: 200px;
          height: 60px;
          border: none;
          border-radius: 5px;
          align-items: center;
          font-weight: bold;
          font-size: large;
          display: flex;
          justify-content: center;
          cursor: pointer;
        }
        .boton-send:hover {
          background-color: rgb(15, 15, 163);
        }
      }
    }
  }
  
  @media (min-width: 769px) {
    /* estilos para pantallas grandes */
  
    body {
      display: flex;
    }
    aside {
      background-color: #4b8ce7;
    }
    .container-aside{
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      margin-top: 8px;
    }
    .botones-aside {
      cursor: pointer; /* Cambia el cursor al pasar por encima */
      transition: all 0.3s ease; /* Transición suave para hover y active */
      background-color: #4b8ce7;
      display: flex;
      border-radius: 20px;
      border-color: transparent;
    }
    .botones-aside:hover {
      background-color: rgb(15, 15, 163);
      color: white;
    }
    .container-aside {
      display: flex;
      flex-direction: column;
      
    }
    .imagenes-aside {
      height: 50px;
      width: 50px;
    }
  
    header {
      height: 8%;
      background-color: #ffffff;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      padding: 5px;
    }
    .div-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;
      .img-header {
        max-width: 100px;
      }
    }
  
    main {
      width: 95%;
      height: 100vh;
      background-color: #f4f0f0;
      display: flex;
      flex-direction: column;
    }
    .sections {
      height: 100vh;
      display: flex;
      justify-content: center;
      gap: 50px;
    }
    .section-izda {
      background-color: white;
      padding: 10px;
      height: 75%;
      margin-top: 5%;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    }
    .titulo-div-superior-izda {
      font-size: 20px;
    }
  
    .div-superior {
      display: flex;
      gap: 50px;
      padding: 50px;
  
      .imagen-div-superior-izda {
        margin-top: 20px;
      }
      .botones-div-superior-izda {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        /* Cambia el cursor al pasar por encima */
        transition: all 0.3s ease; /* Transición suave para hover y active */
      }
      .boton-change {
        margin-top: 30px;
        width: 150px;
        border: 1px solid rgb(15, 15, 163);
        border-radius: 5px;
        background-color: #4b8ce7;
        color: white;
        padding: 10px;
        cursor: pointer;
      }
      .boton-change:hover {
        background-color: rgb(15, 15, 163);
        color: white;
      }
      .boton-delete {
        width: 150px;
        border: 1px solid #8b8989;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
      }
      .boton-delete:hover {
        background-color: rgb(15, 15, 163);
        color: white;
      }
    }
  
    .contenedor-superior {
      display: flex;
      gap: 15px;
  
      .label-superior-nombre {
        width: 35%;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .label-superior-apellido {
        width: 65%;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
    .contenedor-inferior {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      gap: 5px;
      margin-bottom: 5px;
    }
    .section-dcha {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      padding: 10px;
      height: 75%;
      margin-top: 4%;
      gap: 80px;
      .section-superior-dcha {
        background-color: white;
        padding: 30px;
      }
      .section-inferior-izda {
        .boton-send {
          background-color: #4b8ce7;
          color: white;
          width: 200px;
          height: 60px;
          border: none;
          border-radius: 5px;
          align-items: center;
          font-weight: bold;
          font-size: large;
          display: flex;
          justify-content: center;
          cursor: pointer;
        }
        .boton-send:hover {
          background-color: rgb(15, 15, 163);
        }
      }
    }
  }
  